/* navigation bar design */

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background: rgb(69,252,222);
    background: linear-gradient(90deg, rgb(44, 174, 230) 20%, rgba(188, 255, 157, 0.919) 69%);
  }
  
  
  * {
      position: relative;
      margin-top: 0px;
      margin-left: 0px;
      color: rgb(rgb(152, 244, 15), rgb(122, 231, 118), rgb(231, 119, 246));
     
  }
  
  .logo{
      top: 10px;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: #202020;
      text-decoration: none;
  }
  .navbar {
      background-color: rgb(243, 249, 126);
      /* border-radius: 20px; */
      height: 50px;
      
  }
  
  .navbar li {
      float: right;
      list-style: none;
      margin: 13px 20px;
  }
  
  /* .navbar ul {
      overflow: auto;
  }
   */
  .navbar li a {
      right: 250px;
      padding: 3px 3px;
      text-decoration: none;
      color: white;
  }
  
  .search {
      float: right;
      color: white;
      padding: 10px 75px;
      right: -560px;
      
  } 
  
   .navbar input {
      border: 2px double black;
      border-radius: 14px;
      padding: 0px 17px;
      width: 180px;
      height: 30px;
  } 
  
  /* navigation bar animation */
  .navbar ul li a{
      padding: 0.2em 1.2em 0.9em 1.2em;
      color: rgb(12, 11, 12);
      position: relative;
      z-index: 1;
  }
  .navbar ul li a::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 41px;
      border-radius: 10px 20px 0 0;
      background: #d47cdc;
      transform-origin: bottom;
      background: linear-gradient(to right, #c26cb2, #a7509b, #94ff51f1); 
      transform: scaleY(0.05);
      z-index: -1;
      transition: all .5s; 
  }
  .navbar ul li a:hover::before{
      transform: scaleX(1.1);
  }
  .navbar ul li a:hover{
      color: whitesmoke;
  }
  
  
  
  .mdiv1{
      margin-left: 0px;
      position: relative;
      margin-top: 0px;
      height: 570px;
      width: 100%;
      background-image: url(https://atlas-content-cdn.pixelsquid.com/theme%2F1937350336096245322%2F%248t7wtb0dauk-Header_IMG.jpg);
      background-size: 100%;
   
    }
    
  
  
  
    
    .mdiv2{
      margin-left: 0px;
      position: relative;
      margin-top: 0px;
      height: 880px;
      width: 100%;
      background-color:rgb(209 159 209);
    }
    .c1{
      position: absolute;
      height: 500px;
      width: 480px;
      margin-top: 20px;
      margin-left: 30px;
      background-color: red;
      border-radius: 30px;
      background-image: url(https://starbazaarindia.com/cdn/shop/files/Fabsta_20-7-2020_500x500_crop_center.jpg?v=1614364061);
    } 
  
    
    .c2{
      position: absolute;
      height: 400px;
      width: 400px;
      margin-top: 200px;
      margin-left: 565px;
      background-color:yellow;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      background-image: url(https://starbazaarindia.com/cdn/shop/files/skye_500x500_crop_center.jpg?v=1614361003);
      
    }
    .c5{
      position: absolute;
      height: 500px;
      width: 480px;
      margin-top: 20px;
      margin-left: 1020px;
      background-color: red;
      border-radius: 30px;
      background-image: url(https://starbazaarindia.com/cdn/shop/files/WhatsApp_Image_2021-08-31_at_12.30.53_PM_500x500_crop_center.jpg?v=1630393308);
     
      
  
    }
  
    
    .c3{
      position: absolute;
      height: 450px;
      width: 1400px;
      margin-top: 750px;
      margin-left: 60px;
      /* /* background-color: red;  */
      background-image: url(https://www.itcstore.in/_next/image?url=https%3A%2F%2Fadmin.itcstore.in%2Fmedia%2Fboolfly%2Fbanner%2F4500-x-1125-Pan-India-New-Banner-copy.jpg&w=1920&q=75);
      border-radius: 20px;
      
  
    }
   
    
    
    
    
    .mdiv2{
      margin-left: 0px;
      position: relative;
      margin-top: 100px;
      height: 800px;
      width: 100%;
      background-image: url(https://images-static.nykaa.com/uploads/efbfe0d7-8e55-4487-b2f4-6514354e947c.jpg?tr=w-1200,cm-pad_resize);
      background-size: 100%;
      
  
    
  }
  
  
  
  /*==Search-Banner========================*/
  #search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #d5b6dd;
    /* background-image: url(C:\Users\Admin\Downloads\pngkey.com-grocery-store-png-2849902.png); */
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .bg-1{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: 75px;
    width: 90%;
    height: 350px;
    object-position: center;
    object-fit: initial;
  }
  .search-banner-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
  }
  .search-banner-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: #202020;
  }
  .search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 225px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
  }
  .search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
  }
  .search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
  }
  .search-box .search-btn{
    width:220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .search-box .search-btn:hover{
    background-color: #5ccf71;
    transition: all ease 0.3s;
  }
    
  
  
  
  /*==category================================*/
  #category,
  #popular-product,
  #popular-bundle-pack,
  #partner{
      display: flex;
      flex-direction: column;
      max-width: 1000px;
      margin: 50px auto;
  }
  .category-heading,
  .product-heading,
  .partner-heading{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .category-heading h2,
  .product-heading h3,
  .partner-heading h3{
      font-size: 1.56rem;
      font-weight: 700;
      color: #202020;
      letter-spacing: 0.5px;
  }
  .category-heading span,
  .product-heading span{
      color: #a7a7a7;
      font-weight: 400;
      letter-spacing: 1px;
  }
  .category-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      text-decoration: none;
  }
  .category-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fafafa;
      border-radius: 10px;
      min-height: 130px;
      width: 120px;
      border: 1px solid rgba(0,0,0,0.03);
  }
  .category-box img{
      height: 35px;
      width: 50px;
      object-fit: cover;
      object-position: center;
      transition: all ease 0.1s;
  }
  .category-box span{
      color: #393939;
      font-size: 0.8rem;
      margin-top: 20px;
      letter-spacing: 0.3px;
      font-weight: 600;
      text-decoration: none;
  }
  .category-box:hover img{
      transform: scale(1.1);
      transition: all ease 0.1s;
  }
  
  
  /*==popular-product========================*/
  #popular-product{
    margin: 100px ;
  }
  .product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 90px;
    align-items: center;
    margin: 40px 0px;
  }
  .product-box img{
    width: 100px;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
  }
  .product-box{
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .product-box strong{
    color: hsl(0, 83%, 50%);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
  }
  .product-box .price{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #393939;
  }
  .product-box .cart-btn{
    width:100%;
    height: 40px;
    background-color: #efd4d4;
    color: #4eb060;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    transition: all ease 0.3s;
  }
  .product-box .cart-btn i{
    margin-right: 10px;
  }
  .product-box .cart-btn:hover{
    background-color: #4eb060;
    color: #ffffff;
    transition: all ease 0.3s;
  }
  .product-box .like-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #c9c9c9;
    font-size: 1.3rem;
  }
  
  /* .mdiv3{
      margin-left: 0px;
      position: relative;
      margin-top: 2000px;
      height: 1500px;
      width: 100%;
      
    } */
  
  
  
  
  
  /*==footer============================*/
  footer{
    margin-top: 1500px;
    background-color: #1a1b1c;
    padding: 50px 20px;
    border-top: 5px solid #4eb060;
  }
  .footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .footer-logo a span{
    color: #63e67b;
  }
  .footer-social{
    display: flex;
    margin-top: 10px;
  }
  .footer-social a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0c0c;
    border: 1px solid #e636c015;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
    text-decoration: none;
  }
  .footer-social a:hover{
    background-color: #cdded0;
    transition: all ease 0.3s;
  }
  .footer-links strong{
    color: #ea0052;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .footer-links ul{
    margin-top: 10px;
  }
  .footer-links ul li a{
    color: #e9eadd;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
  }
  .footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
  }