

.mdiv{
    margin-top: 0px;
    padding: 10px;
     
   }
   
  .cmd{
    position: absolute;
    margin-top: 20px;
    height: 320px;
    width: 300px;
    background-color: transparent;
  }
  
  .mdiv2{
    height: 50px;
    width: 100%;
    background-color: rgb(210, 148, 148);
    text-shadow: 0px 10px 10px rgb(63, 63, 63);
    border-radius: 20px;
    margin-bottom: -20px;
    margin-left: 0px;
    margin-top: 30px;
    padding: 20px;
    letter-spacing: 2px;
    right: 0px;
    
  }
  .mdiv2 h3{
    float: left;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 0px 100px;
    text-decoration: none;
    font-size: 30px;
    right: 0px;
  }
  .mdiv3{
    margin-left: 50px;
    position: relative;
    margin-top: 0px;
    height: 500px;
    width: 1400px;
    background-color: rgb(203, 120, 203)
  }
  
  .new{
  
    height: 100px;
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    margin-top: 30px;
    text-transform: capitalize;
    text-shadow: 0px 0px 10px rgb(63, 63, 63); ;
    text-shadow: #F8F8F8;
  }
  .new h2{
    text-align: justify;
    text-shadow: 100px;
  }
  
  
  body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background: rgb(69,252,222);
    background: linear-gradient(90deg, rgb(44, 174, 230) 20%, rgba(188, 255, 157, 0.919) 69%);
  }
  
  
  * {
      position: relative;
      margin-top: 0px;
      margin-left: 0px;
      color: rgb(rgb(152, 244, 15), rgb(122, 231, 118), rgb(231, 119, 246));
     
  }
  
  
  
  .nav{
    position: relative;
    top: 3px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    text-underline-offset: none;
    
    
  
  }
  .nav a{
    float: left;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  .li{
    display: inline;
    border: none;
   
  }
  
  .search {
    float: right;
    color: white;
    padding: 20px 0px;
    right: 60px;
    
  } 
  .search input {
    border: 2px double black;
    border-radius: 14px;
    padding: -10px 10px;
    width: 380px;
    height: 30px;
    margin-left: 350px;
  } 
  
  
  
  header{ 
    width: 100%;
    height: 50px;
    background: #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Logo{
    padding-top: 0px;
    color: rgb(44, 44, 44);
    font-size: 1.15em;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav ol{
    display: flex;
    list-style: none;
  }
  .nav ol li{
    margin: 1em;
  }
  .nav ol li a{
    text-decoration: none;
    padding: 0.2em 1.2em 0.9em 1.2em;
    border-radius: 10px 10px 0 0;
    color: rgb(39, 39, 39);
    transition: all .4s;
    position: relative;
    z-index: 1;
  }
  .nav ol li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    border-radius: 10px 10px 0 0;
    background: #853333;
    transform-origin: bottom;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    transform: scaleY(0.05);
    z-index: -1;
    transition: all .4s;
  }
  .nav ol li a:hover::before{
    transform: scaleY(1.1);
  }
  .nav ol li a:hover{
    color: white;
  }
  
  .btn{
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
  }
  .btn::before{
    content: '\f0c9';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 2em;
  }
  
  .logo {
    height: 100px;
    width: 100%;
    background-color: rgb(254, 217, 82);
    border: 2px solid red;
    margin-top: 20px;
   display: inline;
   list-style: none;
   font-size: 40px;
   
  }
  .logo{
    margin-left:20px;
  }
  .logo1{
    height: 40px;
    width: 40px;
    margin-left: 0px;
  
  }
  header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* *==popular-product========================*/ */
  #popular-product{
  margin: 500px ;
  }
  .product-container{
    position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 50px;
  align-items: center;
  margin: 80px 0px;
  margin-top: 500px;
  }
  .product-container {
      -webkit-animation: scale-up-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: scale-up-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  /* ----------------------------------------------
   * Generated by Animista on 2023-12-21 11:56:29
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation scale-up-bottom
   * ----------------------------------------
   */
   @keyframes scale-up-bottom {
    0% {
              transform: scale(0.5);
              transform: scale(0.5);
              transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      transform: scale(1);transform: scale(1);
      transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  @keyframes product-container {
    0% {
      transform: scale(0.5);
              transform: scale(0.5);
      transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  
  .product-box img{
  width: 100px;
  height: 200px;
  object-fit: fill;
  object-position: center;
  margin: auto;
  }
  .product-box{
    scale: 1.1 1.1;
  width: 80%;
  border: none;
  box-shadow: 20px 20px 20px rgb(90, 88, 88) ;
  border-radius: 20px;
  background-color: #fefcfc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15px;
  
  }
  .product-box {
      -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2023-12-21 12:42:2
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation slide-fwd-center
   * ----------------------------------------
   */
   @keyframes product-box {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  
  .product-box strong{
  color: hsl(0, 83%, 50%);
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
  }
  
  .product-heading{
      height: 80px;
      width: 100%;
      background-color: transparent;
      font-family: Shadow;
      font-size: large;
      color: rgb(30, 30, 29);
  }
  .img{
    height: 280px;
    width: 1180px;
    margin-left: 160px;
    margin-top: 60px;
  }
  .division:hover{
    scale: 1.1 1.1;
    height: 20px;
    width: 50px;
    border: 1px solid black;
  }
  
  .division2:hover{
    scale: 1.1 1.1;
    height: 20px;
    width: 100px;
    border: 1px solid black;
  }
  
  video{
    position: relative;
    border-radius: 20px;
  }
  .video1{
    position: absolute;
    right: 450px;
    background: none;
    border-radius: 20px;
  }
  .video2{
    position: absolute;
    right: 400px;
    background: none;
    border-radius: 20px;
  
  }
  .png{
    justify-content: center;
    height: 250px;
    width: 900px;
    margin-left: 320px;
  }
  .img2{
    height: 350px;
    width: 100%;
    position: absolute;
  }
  
  /*==footer============================*/
  footer{
    margin-top: 50px;
    background-color: #1a1b1c;
    padding: 50px 20px;
    border-top: 5px solid #4eb060;
  }
  .footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .footer-logo a span{
    color: #63e67b;
  }
  .footer-social{
    display: flex;
    margin-top: 10px;
  }
  .footer-social a{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0c0c;
    border: 1px solid #e636c015;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
    text-decoration: none;
  }
  .footer-social a:hover{
    background-color: #cdded0;
    transition: all ease 0.3s;
  }
  .footer-links strong{
    color: #ea0052;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .footer-links ul{
    margin-top: 10px;
  }
  .footer-links ul li a{
    color: #e9eadd;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
  }
  .footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
  }
  .image{
  
      height: 350px;
      width: 700px;
      align-items: center;
  
  }
  .image-display{
              animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
  }
   @keyframes image-display {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  
  